{% extends 'index.html' %}
{% block  header %}
<h1>This is the header</h1>
{% endblock %}
{% block  body_left %}
<ul>
    <li><a href=#>derp1</a></li>
    <li><a href=#>derp2</a></li>
    <li><a href=#>derp3</a></li>
</ul>
{% endblock %}
{% block  body %}
<h2>This is the main content</h2>
<p>bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp bleep blerp </p>
<p>ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong ching chong </p>
{% endblock %}
{% block  body_right %}
<p>this is the right column</p>
{% endblock %}
{% block footer %}
<p> this is the footer </p>
{% endblock %}